<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="b4a.example"
	android:versionCode="5"
	android:versionName="Beta"
	android:installLocation="preferExternal">
	
	android:name="com.google.android.maps.v2.API_KEY"
	  android:value="AIzaSyBfPEyzhE27TUrMGysLGQDVvXzqldt56bw"/>
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="28"/>
	<supports-screens android:largeScreens="true"
	    android:normalScreens="true"
	    android:smallScreens="true"
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	<uses-permission android:name="android.permission.RECORD_VIDEO"/>
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<application
		android:icon="@drawable/icon"
		android:label="GIS Natural Disaster">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".current_pos"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".pencarian"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".report"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".radius"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".informasi"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".location_route"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".gallery"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".takecam"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".takevid"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".scrollview"
			android:label="GIS Natural Disaster"
			android:screenOrientation="unspecified">
		</activity>
		<service android:name="anywheresoftware.b4a.samples.httputils2.httputils2service">
		</service>
		<receiver android:name="anywheresoftware.b4a.samples.httputils2.httputils2service$httputils2service_BR">
		</receiver>
	</application>
</manifest>